/* Reset base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Base html styles */
html {
  font-size: 100%; // 16px default
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* Base body styles */
body {
  min-height: 100%;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
  color: #1a1a1a;
}

/* Media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reset form elements */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Fix resize and spacing behavior */
textarea {
  resize: vertical;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Headings baseline */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: inherit;
  line-height: 1.2;
}
